.app-window {
    display: flex;
    height: 100vh;
    background-color: var(--card);
}

.sidebar {
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;

}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header--avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;

}

.header--buttons {
    display: flex
}

.header--btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search {
    background-color: var(--secondary);
    border-bottom: 1px solid var(--border);
    padding: 5px 15px;
}

.search--input {
    background-color: var(--background);
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search--input input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
}

.chatList {
    flex: 1;
    background-color: var(--card);
    overflow-y: auto;
}

.chatList::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.chatList::-webkit-scrollbar-thumb {
    background-color: var(--muted);
}

.contentarea {
    display: flex;
    flex-direction: column;
    flex: 1;
}