.chatIntro {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid var(--primary);
}

.chatIntro img {
    width: 250px;
    height: auto;
}

.chatIntro h1 {
    font-size: 32px;
    color: var(--foreground);
    font-weight: normal;
    margin-top: 30px;
}

.chatIntro h2 {
    font-size: 14px;
    color: var(--color-muted-foreground);
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}